<app-breadcrumb [title]="'About Us'" [items]="[]" [active_item]="'About Us'"></app-breadcrumb>
<div class="container-fluid">
  <div class="about-pg">
    <form action="">
      <div class="row">
        <div class="col-lg-12">
          <h5>Banner Section</h5>
          <div class="banner-head d-flex flex-column">
            <div class="textareaSave">
              <textarea name="" id="" rows="1" placeholder="Banner Heading"></textarea>
              
            </div>
          </div>
          <div class="banner-sec mt-3 d-flex flex-column">
            <img alt="" [src]="bannerimage">
            <input type="file" name="banner" id="bannerUpload" (change)="readUrl($event,'bannerimage')" hidden>
            <label for="bannerUpload" class="btn btn-primary mt-3">Upload</label>
          </div>
        </div>
        <div class="col-lg-12 mt-5">
          <h5>About Us First Section</h5>
          <div class="banner-head d-flex flex-column">
            <div class="textareaSave">
              <textarea name="" id="" rows="1" placeholder="Banner Heading"></textarea>
              
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5">
          <h5>About Us Second Section</h5>
          <div class="row">
            <div class="col-lg-6">
              <div class="home-content-sec d-flex flex-column">
                <img alt="" [src]="secondSec">
                <input type="file" name="banner" id="homesec1Upload" (change)="readUrl($event,'secondSec')" hidden>
                <label for="homesec1Upload" class="btn btn-primary mt-3">Upload</label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="banner-head d-flex flex-column">
                <div class="textareaSave">
                  <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
                  
                </div>
                <div class="textareaContentSave">
                  <textarea class="mt-3" name="" id="" rows="7" placeholder="Section Content"></textarea>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-lg-12 mt-5">
          <h5>About Us Third Section</h5>
          <div class="row">
            <div class="col-lg-6">
              <div class="banner-head d-flex flex-column">
                <div class="textareaSave">
                  <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="about-icon-sec d-flex flex-column align-items-center">
                <img alt="" [src]="abouticonUpload1">
                <input type="file" name="banner" id="abouticonUpload1" (change)="readUrl($event,'abouticonUpload1')" hidden>
                <label for="abouticonUpload1" class="fa-edit-pos">
                  <i class="fa fa-edit"></i>
                </label>
              </div>
              <div class="textareaSave mt-2">
                <textarea name="" id="" rows="1" placeholder="Icon Content"></textarea>
                
              </div>
            </div>
            <div class="col-lg-2">
              <div class="about-icon-sec d-flex flex-column align-items-center">
                <img alt="" [src]="abouticonUpload2">
                <input type="file" name="banner" id="abouticonUpload2" (change)="readUrl($event,'abouticonUpload2')" hidden>
                <label for="abouticonUpload2" class="fa-edit-pos">
                  <i class="fa fa-edit"></i>
                </label>
              </div>
              <div class="textareaSave mt-2">
                <textarea name="" id="" rows="1" placeholder="Icon Content"></textarea>
                
              </div>
            </div>
            <div class="col-lg-2">
              <div class="about-icon-sec d-flex flex-column align-items-center">
                <img alt="" [src]="abouticonUpload3">
                <input type="file" name="banner" id="abouticonUpload3" (change)="readUrl($event,'abouticonUpload3')" hidden>
                <label for="abouticonUpload3" class="fa-edit-pos">
                  <i class="fa fa-edit"></i>
                </label>
              </div>
              <div class="textareaSave mt-2">
                <textarea name="" id="" rows="1" placeholder="Icon Content"></textarea>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5">
          <h5>About Us Download Section</h5>
          <div class="row">
            <div class="col-lg-6">
              <label for="">Download Banner</label>
              <div class="downloadBanner d-flex flex-column">
                <img alt="" [src]="downloadbannerImage">
                <input type="file" name="banner" id="homeDownloadBannerUpload"
                  (change)="readUrl($event,'downloadbannerImage')" hidden>
                <label for="homeDownloadBannerUpload" class="btn btn-primary mt-3">Upload</label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="banner-head d-flex flex-column">
                <div class="textareaContentSave">
                  <textarea class="mt-3" name="" id="" rows="3" placeholder="Section Content"></textarea>
                  
                </div>
              </div>
              <label for="">Download Image</label>
              <div class="home-banner-sec d-flex flex-column">
                <img alt="" [src]="downloadImage">
                <input type="file" name="banner" id="homeDownloadImageUpload" (change)="readUrl($event,'downloadImage')"
                  hidden>
                <label for="homeDownloadImageUpload" class="btn btn-primary mt-3">Upload</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5 mb-3 d-flex justify-content-end">
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>