<app-breadcrumb [title]="'News And Articles'" [items]="[]" [active_item]="'News And Articles'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-lg-12">
      <h5>Banner Section</h5>
      <div class="banner-head d-flex flex-column">
        <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Banner Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
      </div>
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="bannerimage">
        <input type="file" name="banner" id="bannerUpload" (change)="readUrl($event,'bannerimage')" hidden>
        <label for="bannerUpload" class="btn btn-primary mt-3">Upload</label>
      </div>
    </div>
    </div>
    <h5>Aricles</h5>
    <div class="row mt-3">
    <div class="col-lg-4">
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="articleThumbnail1" routerLink="innerArticle">
        <input type="file" name="banner" id="articleThumbnail1" (change)="readUrl($event,'articleThumbnail1')" hidden>
        <label for="articleThumbnail1" class="btn btn-primary mt-3">Upload</label>
      </div>
      <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Article Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="articleThumbnail2" routerLink="innerArticle">
        <input type="file" name="banner" id="articleThumbnail2" (change)="readUrl($event,'articleThumbnail2')" hidden>
        <label for="articleThumbnail2" class="btn btn-primary mt-3">Upload</label>
      </div>
      <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Article Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="articleThumbnail3" routerLink="innerArticle">
        <input type="file" name="banner" id="articleThumbnail3" (change)="readUrl($event,'articleThumbnail3')" hidden>
        <label for="articleThumbnail3" class="btn btn-primary mt-3">Upload</label>
      </div>
      <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Article Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="articleThumbnail4" routerLink="innerArticle">
        <input type="file" name="banner" id="articleThumbnail4" (change)="readUrl($event,'articleThumbnail4')" hidden>
        <label for="articleThumbnail4" class="btn btn-primary mt-3">Upload</label>
      </div>
      <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Article Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="articleThumbnail5" routerLink="innerArticle">
        <input type="file" name="banner" id="articleThumbnail5" (change)="readUrl($event,'articleThumbnail5')" hidden>
        <label for="articleThumbnail5" class="btn btn-primary mt-3">Upload</label>
      </div>
      <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Article Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="articleThumbnail6" routerLink="innerArticle">
        <input type="file" name="banner" id="articleThumbnail6" (change)="readUrl($event,'articleThumbnail6')" hidden>
        <label for="articleThumbnail6" class="btn btn-primary mt-3">Upload</label>
      </div>
      <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Article Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="banner-sec mt-3 d-flex flex-column">
        <img alt="" [src]="articleThumbnail7" routerLink="innerArticle">
        <input type="file" name="banner" id="articleThumbnail7" (change)="readUrl($event,'articleThumbnail7')" hidden>
        <label for="articleThumbnail7" class="btn btn-primary mt-3">Upload</label>
      </div>
      <div class="textareaSave">
          <textarea name="" id="" rows="1" placeholder="Article Heading"></textarea>
          <i class="fa fa-save"></i>
        </div>
    </div>
  </div>
</div>