.banner-sec{
    width: 100%;
    img{
        width: 100%;
        height: 250px;
    }
}
.home-content-sec,
.home-banner-sec{
    width: 100%;
    img{
        width: 100%;
        height: 150px;
    }
}


textarea{
    width: 100%;
    resize: none;
    padding:10px 1rem;
    background: none;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

img{
    border-radius: 15px;
    object-fit: cover;
}
.downloadBanner{
    width: 100%;
    img{
        width: 100%;
        height: 257px;
    }
}
.about-icon-sec{
    position: relative;
    img{
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }
    .fa-edit-pos{
        position: absolute;
        bottom:0;
        right:0;
        margin: 0;
        cursor: pointer;
        i{
            color:#000;
        }
    }

}
.btn.btn-primary{
    width: 30%;
}