<app-breadcrumb [title]="'Home'" [items]="[]" [active_item]="'Home'"></app-breadcrumb>
<div class="container-fluid">
  <form action="">
    <div class="row">
      <div class="col-lg-12">
        <h5>Banner Section</h5>
        <div class="banner-head d-flex flex-column">
          <div class="textareaSave">
            <textarea name="" id="" rows="1" placeholder="Banner Heading"></textarea>
          </div>
        </div>
        <div class="banner-sec mt-3 d-flex flex-column">
          <img alt="" [src]="bannerimage">
          <input type="file" name="banner" id="bannerUpload" (change)="readUrl($event,'bannerimage')" hidden>
          <label for="bannerUpload" class="btn btn-primary mt-3">Upload</label>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>Home First Section</h5>
        <div class="banner-head d-flex flex-column">
          <div class="textareaSave">
            <textarea name="" id="" rows="1" placeholder="Banner Heading"></textarea>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>Home Second Section</h5>
        <div class="row">
          <div class="col-lg-6">
            <div class="home-content-sec d-flex flex-column">
              <img alt="" [src]="secondSec">
              <input type="file" name="banner" id="homesec1Upload" (change)="readUrl($event,'secondSec')" hidden>
              <label for="homesec1Upload" class="btn btn-primary mt-3">Upload</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-head d-flex flex-column">
              <div class="textareaSave">
                <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
              </div>
              <div class="textareaContentSave">
                <textarea class="mt-3" name="" id="" rows="7" placeholder="Section Content"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>Home Third Section</h5>
        <div class="row">
          <div class="col-lg-6">
            <div class="banner-head d-flex flex-column">
              <div class="textareaSave">
                <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
              </div>
              <div class="textareaContentSave">
                <textarea class="mt-3" name="" id="" rows="7" placeholder="Section Content"></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="home-content-sec d-flex flex-column">
              <img alt="" [src]="thirdSec">
              <input type="file" name="banner" id="homesec2Upload" (change)="readUrl($event,'thirdSec')" hidden>
              <label for="homesec2Upload" class="btn btn-primary mt-3">Upload</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>Home Fourth Section</h5>
        <div class="row">
          <div class="col-lg-4">
            <div class="banner-head d-flex flex-column">
              <div class="textareaSave">
                <textarea name="" id="" rows="1" placeholder="Counter 1"></textarea>
                <div class="textareaContentSave">
                  <textarea class="mt-3" name="" id="" rows="2" placeholder="Counter Content"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="banner-head d-flex flex-column">
              <div class="textareaSave">
                <textarea name="" id="" rows="1" placeholder="Counter 2"></textarea>
              </div>
              <div class="textareaContentSave">
                <textarea class="mt-3" name="" id="" rows="2" placeholder="Counter Content"></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="banner-head d-flex flex-column">
              <div class="textareaSave">
                <textarea name="" id="" rows="1" placeholder="Counter 3"></textarea>
              </div>
              <div class="textareaContentSave">
                <textarea class="mt-3" name="" id="" rows="2" placeholder="Counter Content"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>Home Download Section</h5>
        <div class="row">
          <div class="col-lg-6">
            <label for="">Download Banner</label>
            <div class="downloadBanner d-flex flex-column">
              <img alt="" [src]="downloadbannerImage">
              <input type="file" name="banner" id="homeDownloadBannerUpload"
                (change)="readUrl($event,'downloadbannerImage')" hidden>
              <label for="homeDownloadBannerUpload" class="btn btn-primary mt-3">Upload</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-head d-flex flex-column">
              <div class="textareaContentSave">
                <textarea class="mt-3" name="" id="" rows="3" placeholder="Section Content"></textarea>
              </div>
            </div>
            <label for="">Download Image</label>
            <div class="home-banner-sec d-flex flex-column">
              <img alt="" [src]="downloadImage">
              <input type="file" name="banner" id="homeDownloadImageUpload" (change)="readUrl($event,'downloadImage')"
                hidden>
              <label for="homeDownloadImageUpload" class="btn btn-primary mt-3">Upload</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5 mb-3 d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
