<app-breadcrumb [title]="'Terms And Condition'" [active_item]="'Terms And Condition'"></app-breadcrumb>
<div class="row">
    <div class="col-lg-12 mb-3">
        <div class="default-accordion">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Heading">
                    <ng-template ngbPanelContent>
                        <textarea name="" id="" rows="2"></textarea>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
    <div class="col-lg-12 mb-3">
        <div class="default-accordion">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Paragraph">
                    <ng-template ngbPanelContent>
                        <textarea name="" id="" rows="5"></textarea>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
    <div class="col-lg-12 mb-3">
        <div class="default-accordion">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Heading">
                    <ng-template ngbPanelContent>
                        <textarea name="" id="" rows="2"></textarea>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
    <div class="col-lg-12 mb-3">
        <div class="default-accordion">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="Paragraph">
                    <ng-template ngbPanelContent>
                        <textarea name="" id="" rows="5"></textarea>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>