<app-breadcrumb [title]="'Terms Of Use'" [items]="[]" [active_item]="'Terms Of Use'"></app-breadcrumb>
<div class="container-fluid">
  <form action="">
    <div class="row">
      <div class="col-lg-12 mt-5">
        <h5>Terms Of Use</h5>
        <ck-editor name="editor1" [(ngModel)]="ckEditor" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
      </div>
      <div class="col-lg-12 mt-5 mb-3 d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>