.ecommerce-box.light-bg-primary{
    background: linear-gradient(to right,#bf983a 10%,#e7c879 100%) !important;
}
.ecommerce-box.light-bg-primary svg{
    color:#fff;
}
.row{
    width: 100%;
    margin: 0 auto;
}