<app-breadcrumb [title]="'News And Articles'" [items]="[]" [active_item]="'News And Articles'"></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5>Banner Section</h5>
            <div class="banner-head d-flex flex-column">
                <div class="textareaSave">
                    <textarea name="" id="" rows="1" placeholder="Banner Heading"></textarea>
                    <i class="fa fa-save"></i>
                </div>
            </div>
            <div class="banner-sec mt-3 d-flex flex-column">
                <img alt="" [src]="bannerimage">
                <input type="file" name="banner" id="bannerUpload" (change)="readUrl($event,'bannerimage')" hidden>
                <label for="bannerUpload" class="btn btn-primary mt-3">Upload</label>
            </div>
        </div>
        <div class="col-lg-12 mt-3">
            <div class="banner-head d-flex flex-column">
                <div class="textareaSave">
                    <ck-editor name="editor1" [(ngModel)]="ckEditor" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                    <i class="fa fa-save"></i>
                </div>
            </div>
        </div>
    </div>
</div>
