<app-breadcrumb [title]="'News And Articles / Articles'" [items]="[]" [active_item]="'News And Articles / Articles'"></app-breadcrumb>
<div class="container-fluid">
    <div class="user-profile articlesList">
        <div class="row">
            <div class="col-sm-12 col-lg-6" *ngFor="let article of articles">
                <div class="actionBtn">
                    <button class="btn btn-primary mt-3" routerLink="/news&articles_banner/article"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-primary mt-3"><i class="fa fa-trash"></i></button>
                </div>
                <div class="card hovercard">
                    <div class="cardheader">
                        <img src="{{article.img}}" alt="">
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="col-lg-12 order-sm-0 order-xl-1">
                                <div class="user-designation">
                                    <div class="title"><a href="javascript:void(0)">{{article.title}}</a></div>
                                    <div class="desc mt-2">{{article.description}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
