<app-breadcrumb [title]="'News And Articles / Articles / Article'" [items]="[]" [active_item]="'News And Articles / Articles / Article'"></app-breadcrumb>
<div class="container-fluid">
    <form action="">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner" style="background: url({{bannerimage}});background-size: cover;">
                    <input type="file" name="banner" id="bannerUpload" (change)="readUrl($event,'bannerimage')" hidden>
                    <label for="bannerUpload" class="btn btn-primary mt-3 uploadBtn"><i class="fa fa-edit"></i></label>
                  </div>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="banner-head d-flex flex-column">
                    <div class="textareaSave">
                        <ck-editor name="editor1" [(ngModel)]="ckEditor" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5 mb-3 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
