<app-breadcrumb [title]="'For Buy'" [items]="[]" [active_item]="'For Buy'"></app-breadcrumb>
<div class="container-fluid">
  <form action="">
    <div class="row">
      <div class="col-lg-12">
        <h5>Banner Section</h5>
        <div class="banner-head d-flex flex-column">
          <div class="textareaSave">
            <textarea name="" id="" rows="1" placeholder="Banner Heading"></textarea>
            
          </div>
        </div>
        <div class="banner-sec mt-3 d-flex flex-column">
          <img alt="" [src]="bannerimage">
          <input type="file" name="banner" id="bannerUpload" (change)="readUrl($event,'bannerimage')" hidden>
          <label for="bannerUpload" class="btn btn-primary mt-3">Upload</label>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>For Buy First Section</h5>
        <div class="banner-head d-flex flex-column">
          <div class="textareaSave">
            <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
            
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>For Buy Second Section</h5>
        <div class="banner-head d-flex flex-column">
          <div class="textareaSave">
            <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
            
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>For Buy Third Section</h5>
        <div class="banner-head d-flex flex-column">
          <div class="textareaSave">
            <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
            
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <h5>For Buy Fourth Section</h5>
        <div class="banner-head d-flex flex-column">
          <div class="textareaSave">
            <textarea name="" id="" rows="1" placeholder="Section Heading"></textarea>
            
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5 mb-3 d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>